
<!DOCTYPE html>
<html lang="en" dir="ltr" class="site-centre">
  <head>
    <meta charset="utf-8">

    <style>
    @import url('https://fonts.googleapis.com/css?family=Kanit:100&display=swap');
    </style>

  </head>
  <body>


<div class="container">

<div class="header col-md-12 ">
<h1 class="header-title">Kho & Co </h1>

<h4 class="sub-title 'Kanit'"> Nordic inspired designs with Australian beach influence

</h4>
<div >

<table class="sub-title3 sub-title2 centre-table" >

  <tr class="sub-title3 sub-title2 centre-text" >
    <th class="col-md-3"><a href="/">Home</a></th>
    <th class="col-md-3"> <a href="pages/shop.html">Shop</a></th>
    <th class="col-md-3"><a href="pages/about.html">About</a></th>
  </tr>
</table>
</div>

</div>

</div>

</body>
</html>
