
<link href="https://fonts.googleapis.com/css?family=Montserrat:300|Sacramento&display=swap" rel="stylesheet">


<div class="container-about">

<div class="row">

  <div class="column1 col-md-4">
    <div class="pic-frame" style="width: 256px;
    height: 256px;">

    <img class="img-fluid gallery_image" src="<%= asset_path 'li.jpg' %>" alt="Photo of Annabelle">
  </div>
  </div>


<div class="column2 col-md-8">
  <h2 class="about-title"> <span style="font-weight:normal"> Meet Annabelle.. </span> </h2>
  <h3 class="about-subtitle"> A Creative Web-designer from Sydney </h3>

  <p class="about-text"> Kho & Co is a fictionary jewellery page inspired by a website Annabelle found online called <a href="https://www.mimirockwell.com/"><i>Mimi Rockwell</i> </a>.  Annabelle wanted to re-create a simple but effective website to showcase her skills and learning potential. She is excited to showchase this platform as it was made from scratch after a lot of researching and learning new skills like grid layouts. </p>
  <p class="about-text">Annabelle is a creative yet detail-orientated person who makes sure tasks are thoroughly completed. </p>
  <p class="about-text"> In her free time Annabelle enjoys photography, psychology, watercolour drawing, food and volleyball.  </p>
  <br>
  <br>
  <br>
  <br>


</div>

</div>


</div>
